<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <a class="brand-logo" href="javascript:void(0);">
      <img src="assets/images/MBF_QuyChuanLogo_160219-01 Copy 2.897738c0.png" alt="brand-logo" width="200px" />
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img class="img-fluid" [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/website-tin-tuc-scaled.jpg'
              : 'assets/images/website-tin-tuc-scaled.jpg'
          " alt="Login V2" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Login-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <div class="card md-0">
          <div class="card-body">
            <h2 class="card-title align-items-center font-weight-bold mb-1" style="text-align:center;">ĐĂNG NHẬP </h2>
            <p class="card-text mb-2 " style="text-align:center;">Chào mừng đến với hệ thống 1090! 👋</p>
            <ngb-alert [type]="'danger'" [dismissible]="false">

            </ngb-alert>



            <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label class="form-label" for="login-name">Tài khoản</label>
                <input type="text" formControlName="username" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="user name"
                  aria-describedby="login-name" autofocus="" tabindex="1" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Tên tài khoản là bắt buộc</div>
                </div>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <label for="login-password">Password</label><a
                    routerLink="/pages/authentication/forgot-password-v2"><small class="text-danger">Quên mật
                      khẩu</small></a>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                  <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
                    class="form-control form-control-merge"
                    [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" placeholder="············"
                    aria-describedby="login-password" tabindex="2" />
                  <div class="input-group-append">
                    <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }" (click)="togglePasswordTextType()"></i></span>
                  </div>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
                  [ngClass]="{ 'd-block': submitted && f.password.errors }">
                  <div *ngIf="f.password.errors.required">Mật khẩu là bắt buộc</div>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />
                  <label class="custom-control-label" for="remember-me"> Nhớ mật khẩu</label>
                </div>
              </div>
              <button [disabled]="loading" class="btn btn-danger btn-block" tabindex="4" rippleEffect>
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Đăng nhập
              </button>
            </form>
            <p class="text-center mt-2">
              <span>Bạn là người mới?</span><a class="text-danger"
                routerLink="/pages/authentication/register-v2"><span>&nbsp;Đăng
                  ký</span></a>
            </p>
          </div>

          <!-- <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>
        <div class="d-flex justify-content-center">
          <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect (click)='login()'>
            Sign in with WSO2 </button>
           <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a
          ><a class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a
          ><a class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a
          ><a class="btn btn-github" href="javascript:void(0)"><i data-feather="github"></i></a> -->
          <!-- </div> -->
        </div>
      </div>


    </div>

    <!-- /Login-->
  </div>
</div>