.custom-card-body{
    display: flex;
    height: 100px;
    align-items: center;
    width: 90%;
    align-self: center; 
  
}

.card{

    border-radius: 20px;
}

.card:hover{
    cursor: pointer;
    box-shadow: 2px 2px #bfbfbf!important
}