<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img src="assets/images/log_mbf (1).png" alt="brand-logo" />
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/reset-password-v2-dark.svg'
              : 'assets/images/pages/reset-password-v2.svg'
          " img-fluid="img-fluid" alt="Register V2" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Reset password-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Đặt lại mật khẩu 🔒</h2>
        <p class="card-text mb-2">Mật khẩu mới của bạn phải khác với các mật khẩu đã sử dụng trước đó</p>
        <form class="auth-reset-password-form mt-2" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-new">Mật khẩu hiện tại</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input [type]="currentPassword ? 'text' : 'password'" formControlName="currentPassword"
                class="form-control form-control-merge" placeholder="············" aria-describedby="reset-password-new"
                tabindex="1" autofocus [ngClass]="{ 'is-invalid error': submitted && f.currentPassword.errors }" />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                      'icon-eye-off': currentPassword,
                      'icon-eye': !currentPassword
                    }" (click)="toggleCurrentPasswordTextType()"></i></span>
              </div>
            </div>
            <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.currentPassword.errors }">
              <div *ngIf="f.currentPassword.errors.required">Mật khẩu là bắt buộc</div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-new">Mật khẩu mới</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input [type]="passwordTextType ? 'text' : 'password'" formControlName="newPassword"
                class="form-control form-control-merge" placeholder="············" aria-describedby="reset-password-new"
                tabindex="1" autofocus [ngClass]="{ 'is-invalid error': submitted && f.newPassword.errors }"
                (click)="clearMessageNewPassword()" />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }" (click)="togglePasswordTextType()"></i></span>
              </div>
            </div>
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.newPassword.errors }">
              <div *ngIf="f.newPassword.errors.required">Mật khẩu là bắt buộc</div>
            </div>
            <div *ngIf="messageCheckRegex" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && messageCheckRegex }">
              <div *ngIf="messageCheckRegex">Mật khẩu cần phải: bao gồm cả ký tự viết thường và viết hoa, có ít nhất 8
                ký tự và dài một ký tự số hoặc ký hiệu</div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-confirm">Xác nhận mật khẩu</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input [type]="confPasswordTextType ? 'text' : 'password'" formControlName="confirmPassword"
                class="form-control form-control-merge" placeholder="············"
                aria-describedby="reset-password-confirm" tabindex="2"
                [ngClass]="{ 'is-invalid error': submitted && f.confirmPassword.errors }"
                (click)="clearMessageConfirmPassword()" />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                      'icon-eye-off': confPasswordTextType,
                      'icon-eye': !confPasswordTextType
                    }" (click)="toggleConfPasswordTextType()"></i></span>
              </div>
            </div>
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.confirmPassword.errors }">
              <div *ngIf="f.confirmPassword.errors.required">Mật khẩu là bắt buộc</div>
            </div>
            <div *ngIf="submitted && messageNotEqualPassword" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && messageNotEqualPassword }">
              <div *ngIf="messageNotEqualPassword">Vui lòng nhập lại mật khẩu</div>
            </div>
          </div>
          <button (click)="save()" class="btn btn-primary btn-block" tabindex="3" rippleEffect>Đặt mật khẩu mới</button>
        </form>
        <p class="text-center mt-2">
          <a routerLink="/dashboard/analytics"><i data-feather="chevron-left" class="mb-25"></i>Quay lại</a>
        </p>
      </div>
    </div>
    <!-- /Reset password-->
  </div>
</div>