<div *ngIf="horizontalMenu" class="navbar-header d-xl-block d-none">
  <!-- Navbar brand -->
  <ul class="nav navbar-nav flex-row float-left">
    <li class="nav-item">
      <a class="navbar-brand" [routerLink]="['/']">

        <img src="assets/images/log_mbf (1).png" alt="brand-logo" />

        <!-- <h2 class="brand-text mb-0">{{ coreConfig.app.appName }}</h2> -->
        <!-- <h2 class="brand-text mb-0" style="color: white!important;">WEB 1090</h2> -->
      </a>
    </li>

  </ul>

  <!--/ Navbar brand -->
</div>

<div class="navbar-container d-flex content">
  <div class="bookmark-wrapper d-flex align-items-center">
    <!-- Menu Toggler | Menu icon will be hidden in case of layout without menu -->
    <ul class="nav navbar-nav d-xl-none" *ngIf="!coreConfig.layout.menu.hidden">
      <li class="nav-item">
        <a class="nav-link menu-toggle" (click)="toggleSidebar('menu')">
          <span [data-feather]="'menu'" [class]="'ficon'"></span>
        </a>
      </li>
    </ul>
    <!--/ Menu Toggler -->

    <!-- Bookmark -->
    <!-- <app-navbar-bookmark></app-navbar-bookmark> -->
    <!--/ Bookmark -->
  </div>
  <ul class="nav navbar-nav align-items-center ml-auto">

    <!-- Toggle skin -->
    <li class="nav-item d-none d-lg-block">

      <a class="nav-link nav-link-style btn">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Tìm kiếm" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>


      </a>
    </li>
    <!--/ Toggle skin -->

    <!-- User Dropdown -->
    <li ngbDropdown class="nav-item dropdown-user">
      <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" ngbDropdownToggle
        id="navbarUserDropdown" aria-haspopup="true" aria-expanded="false">
        <ng-container *ngIf="this.currentUser">
          <div class="user-nav d-sm-flex d-none">
            <!-- <span class="user-name font-weight-bolder"
              >{{ this.currentUser.firstName }} {{ this.currentUser.lastName }}</span
            ><span class="user-status">{{ this.currentUser.role }}</span> -->
          </div>
          <span class="avatar"><img class="round" src="assets/images/portrait/small/avatar-s-20.jpg" alt="avatar"
              height="40" width="40" /><span class="avatar-status-online"></span></span>
        </ng-container>
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarUserDropdown" class="dropdown-menu dropdown-menu-right">
        <a ngbDropdownItem [routerLink]="['/pages/profile']"><span [data-feather]="'user'" [class]="'mr-50'"></span>
          Profile</a>
        <a ngbDropdownItem [routerLink]="['/pages/authentication/reset-password-v2']"><span [data-feather]="'user'"
            [class]="'mr-50'"></span> Change password</a>
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem (click)="logout()"><span [data-feather]="'power'" [class]="'mr-50'"></span> Logout</a>
      </div>
    </li>
    <!--/ User Dropdown -->
  </ul>
</div>