<!-- <div [hidden]="isLoading">
  <nz-table
    nzBordered
    #ajaxTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    nzSize="small"
    [nzData]="listOfData"
    [nzLoading]="isLoading"
    [nzTotal]="sizeOfData"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="onPageIndexChange()"
    (nzPageSizeChange)="onPageSizeChange()"
  >
    <thead >
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th><span>Email</span></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.S_CODE }} </td>
      <td>{{ data.S_CODE }}</td>
      <td>{{ data.S_DETAIL }}</td>
    </tr>
    </tbody>
  </nz-table>
</div> -->
